

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




#kart {
  height: 300px;
}

.leaflet-label {
	font-size: 18px;
}

.stedsnavnliste {
	min-height: 350px;
}












